div.form {
  margin: 5.6rem auto 6.9rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

form {
  width: 100%;
  max-width: 48.9rem;
  margin: 0 auto;
  background-color: var(--azul-escuro);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 2rem;
}

h1 {
  margin-top: 2.5rem;
  margin-bottom: 3.1rem;
  text-align: center;
  color: var(--branco);
}

.form-group {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  width: 100%;
  max-width: 30rem;
  text-align: left;
  color: var(--branco);
}

.form input,
.form textarea,
.form select {
  display: block;
  width: 100%;
  max-width: 30rem;
  padding: 8px;
  margin-bottom: 1.3rem;
  border: 1px solid var(--branco);
  border-radius: 5px;
  background-color: var(--branco);
  color: var(--preto);
}

.form textarea {
  height: 100px;
}

.form input[type="file"] {
  margin-top: 1rem;
  text-align: center;
}

.form button {
  display: block;
  margin: 1.9rem auto;
  width: 15.8rem;
  height: 3.8rem;
  font-size: 1.5rem;
  background-color: var(--preto);
  color: var(--branco);
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--roxo-claro);
}
