div.form {
  align-items: flex-start;
  background-color: var(--azul-claro);
  height: 150px;
  padding: 30px;
}

.form p {
  color: var(--roxo-escuro);
  font-size: 14px;
}

.form ::placeholder {
  color: var(--roxo-escuro);
}

.form button {
  max-height: 48px;
  width: 200px;
  display: block;
  padding: 12px 35px;
  border-style: none;
  border-radius: 5px;
  font-size: 14px;
  color: var(--branco);
  background-color: var(--roxo-escuro);
  cursor: pointer;
}

.form button:hover {
  background-color: var(--roxo-claro);
}

.form input {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  padding: 12px;
  align-items: center;
  border-style: none;
  border-radius: 2px;
}

.form row {
  display: flex;
}

.content-form {
  display: flex;
  gap: 30px;
  align-items: center;
}

.intro {
  text-align: center;
  height: 150px;
  padding: 30px;
}

.intro h1,
h2 {
  color: var(--roxo-escuro);
}
.personas {
  height: 300px;
  align-items: center;
  padding: 0px 50px;
}

.personas img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.personas button {
  padding: 14px 35px;
  border-style: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--branco);
  background-color: var(--roxo-escuro);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.personas button:hover {
  background-color: var(--roxo-claro);
}

.personas h2 {
  justify-items: center;
}

.sitters,
.users {
  width: calc(50% - 20px);
  margin: 10px;
  text-align: center;
}

.highlight {
  height: 70px;
  padding: 30px;
  background-color: var(--azul-escuro);
  align-content: center;
  text-align: center;
}

.reviews {
  height: 230px;
  padding: 30px;
  background-color: var(--roxo-claro);
}

.reviews img {
  width: 300px;
  height: 180px;
  margin-right: 50px;
}

.about {
  height: 230px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.about p,
h2 {
  margin: 20px 100px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  max-width: 1280px;
}
