.form {
  height: 150px;
  display: flex;
  align-items: center;
  background-color: var(--azul-claro);
}

.form-position {
  margin-left: calc((100vw - 1280px) / 2);
  max-width: 1280px;
}

.form p {
  color: var(--roxo-escuro);
  font-size: 14px;
}

.form ::placeholder {
  color: var(--roxo-escuro);
}

.form button {
  max-height: 48px;
  width: 200px;
  display: block;
  padding: 12px 35px;
  border-style: none;
  border-radius: 5px;
  font-size: 14px;
  color: var(--branco);
  background-color: var(--roxo-escuro);
  cursor: pointer;
}

.form button:hover {
  background-color: var(--roxo-claro);
}

.form input {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  padding: 12px;
  align-items: center;
  border-style: none;
  border-radius: 2px;
}

.form row {
  display: flex;
}

.content-form {
  display: flex;
  gap: 30px;
  align-items: center;
}

.intro {
  text-align: center;
  height: 150px;
  padding: 30px;
}

.intro h1,
h4 {
  color: var(--roxo-escuro);
  margin: 5px;
}
.personas {
  height: 300px;
  align-items: center;
  padding: 0px 50px;
}

.personas img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.personas p {
  height: 50px;
  align-content: center;
}

.personas button {
  padding: 14px 35px;
  border-style: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--branco);
  background-color: var(--roxo-claro);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.personas button:hover {
  background-color: var(--roxo-escuro);
}

.personas h4 {
  justify-items: center;
}

.sitters,
.users {
  margin: 10px;
  text-align: center;
}

.highlight {
  height: 70px;
  background-color: var(--azul-escuro);
  align-content: center;
  text-align: center;
}

.highlight p {
  margin: 0 auto;
}

#carousel {
  max-width: 980px;
}

.reviews {
  height: 400px;
  background-color: var(--roxo-claro);
}

.item {
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.petimage > img {
  width: 300px;
  height: 180px;
}

.star {
  width: 25px;
  height: 25px;
  margin-right: 0.5px;
  margin-bottom: 10px;
}

.about {
  margin: auto;
  max-width: 980px;
  height: 400px;
  align-content: center;
}

.about h3 {
  margin: 20px 0px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  margin: auto;
  display: flex;
  max-width: 1280px;
}
