
form {
    width: 80%;
    max-width: 400px;
    margin: 10px;
    margin-left: 37%;
    background-color: var(--azul-escuro);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 350px;
  }

  h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  button {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 15px;
    color: var(--branco);
    background-color: var(--preto);
    border-radius: 5px;
    cursor: pointer;
  }

  form {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
  }

  p a {
    font-size: 17px;
    text-align: 25px;
    margin-bottom: center;
    color: var(--preto)
  }
    
  h3,a {
    font-size: 10px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    color: var(--preto);
  }
  
  [type="text"] {
  font-size: 15px;
  max-width: 220px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 17px; 
  }
  
  [type="password"]{
    font-size: 15px;
    max-width: 220px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    padding: 17px;  
  }