main {
    margin: auto;
}

.header-perfil {
    background-color: var(--roxo-claro);
}

.header-perfil-wrapper {
    max-width: 1280px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-perfil-wrapper h1 {
    margin-left: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: var(--branco);
}

.header-perfil-wrapper button {
    margin-left: 300px;
    height: 45px;
    padding: 0 30px;
    border-style: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--branco);
    background-color: var(--roxo-escuro);
    cursor: pointer;
}

#profile-picture {
    margin-top: 260px;
}

#favorite-icon {
    margin-left: 50px;
}

.main-content {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: end;
}

.about-me,
.user-infos {
    margin-top: 100px;
    max-width: 520px;
    margin-bottom: 60px;
}

.about-me h2 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
}

.about-me, .user-infos p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.about-me button {
    height: 45px;
    padding: 0 30px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--branco);
    background-color: var(--roxo-escuro);
    cursor: pointer;
    margin: 40px 0;
}

.about-me > div {
    display: flex;
    gap: 25px;
}


.user-infos {
    margin-left: 80px;
}

.user-infos p {
    display: flex;
    gap: 20px;
    padding: 10px 50px 10px 30px;
}

.skills,
.calendar {
    border-radius: 10px;
    background-color: var(--azul-escuro);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.skills {
    margin-bottom:  40px;
}

#exp {
    height: 28px;
    width: 28px;
    border-radius: 14px;
    text-align: center;
    align-content: center;
    background-color: var(--preto);
    color: var(--azul-escuro);
}