form {
  width: 100%;
  max-width: 780px;
  margin: 5.6em auto 6.9em auto;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--azul-escuro);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 3.1rem;
}

form p {
  width: 30rem;
  margin: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--preto);
  margin-bottom: 3.8rem;
}

  input {
    display: block;
    margin: auto;
    width: 30rem;
    height: 3.8rem;
    border: none;
    margin-bottom: 1.3rem;
  }

  [type="text"],
  [type="password"] {
  font-size: 0.9rem;
  padding: 1rem;
}

button {
  width: 15.8rem;
  height: 3.8rem;
  margin-top: 1.9rem;
  margin-bottom: 3.1rem;
  font-size: 1.5rem;
  color: var(--branco);
  background-color: var(--preto);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
