
form {
    width: 80%;
    max-width: 400px;
    margin: 15px;
    margin-left: 480px;
    background-color: var(--azul-escuro);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 350px;
  }

  h2 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  button {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 35px;
    font-size: 15px;
    color: var(--branco);
    background-color: var(--preto);
    border-radius: 5px;
    cursor: pointer;
  }

  form {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px; 
    
    
  }
   

  p {
    font-size: 20px;
    font-weight: 800;
    font-family: Arial;
    text-align: 25px;
    margin-bottom: center;
    margin-top: 20px;
    color: var(--preto)


  }

  [type="text"] {
  font-size: 15px;
  max-width: 280px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 17px; 
  }
  
