div.form {
  margin: 5.6rem auto 6.9rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

form {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
  background-color: var(--azul-escuro);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: .5rem;
  padding: 2rem;
}

h1 {
  margin-top: 2.5rem;
  margin-bottom: 3.1rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--preto);
}

.form-group {
  position: relative;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#error-name,
#error-password {
  position: absolute;
  margin-bottom: 0;
  font-size: .8rem;
  color: red;
  top: 4rem;
}

#show-password,
#show-confirm-password {
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1.5rem;
  top: 18px;
  right: 130px;
  cursor: pointer;
}

.form-control {
  display: block;
  height: 3.8rem;
  width: 100%;
  max-width: 30rem;
  padding: 8px;
  border: 1px solid var(--branco);
  border-radius: 0;
  background-color: var(--branco);
  color: var(--preto);
}

.form button {
  display: block;
  margin: 1.9rem auto;
  width: 15.8rem;
  height: 3.8rem;
  font-size: 1.5rem;
  background-color: var(--preto);
  color: var(--branco);
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--roxo-claro);
}
